<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>野生動物辨識器</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>台灣野生動物辨識器</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <button type="submit">上傳並辨識</button>
        </form>

        {% if result_image %}
        <h2>辨識結果：</h2>
        <img src="{{ url_for('static', filename='output.jpg') }}" alt="辨識結果">
        {% endif %}
    </div>
</body>
</html>
